@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Press+Start+2P&display=swap');


body {
    display: flex; 
    text-align: center;
    align-items: center; 
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../images/yellow-animals-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
   /* font-family: 'Press Start 2P', cursive;*/
}


canvas {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    image: url(../images/clouds-background.jpg);
  }



#start, #game-over {
    display: flex;
    justify-content: center;
    /*font-family: ;
    color: ;*/
    display: flex; 
    text-align: center;
    align-items: center;   
    flex-direction: column;
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: monospace;
    font-size: 10pt;

}

